/* Layout
-----------------------------*/
html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: #F3F3F3;
	
				
	
				
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}
/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 15px 15px 15px 0px;
	background: rgba(255,255,255,1);
	border-bottom: 1px solid #DCDCDC
}

.navbar-light .navbar-nav .nav-link {
	color: #191919;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #6FAA0A;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor {
	width: 1px;
	background: rgba(247, 247, 247, 0.5);
	margin: 12px 15px;
}




/* Capa
-----------------------------*/

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-verde {
	background: #6BD416;
}

.btn-verde:hover {
	background: #6FAA0A;
	color: white;
}

/* Rodapé
-----------------------------*/
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 1em;
	text-transform: uppercase;
}

footer .navbar-nav  a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav  a:hover {
	color:  #9fFf50;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 2px;
}



.fundoFooter{
	float: right;
	
}

hr{	

	background: white;
}



.fundoFooter a{
	color: white;
	font-size: 0.8em;
	margin: 65px;

}

.fundoFooter a:hover {
	color:  #9fFf50;
	text-decoration: none;
}

.fundoFooter label{
	color: white;
	font-size: 0.7em;
	
}

/* Tipografia
-----------------------------*/
p.capa {
	color: white;
	font-size: 22px;

}

h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

/* Itens */

/*.item{
	background: white;
	border: 1px solid red;
	
	
	margin: 20px 30px;
	float: left;

}*/

.item{  
	border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	border-radius: 8px;	
	margin:20px 30px;
	width: 320px;
	height: 100px;	
	background: white;
	float: left;
	padding: 10px;
}

.item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.conteudo{
	float: left;
	margin-left: 10px;
}

.item .info1{
	color: #191919;
	margin: 5px 15px 0 0;
	text-align: left;

}
.item .info2 {
	color: #6D6D6D;
	margin: 0 15px 0 0;
	font-size: 0.8em;
	text-align: left;
}




/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}
